{% macro card(r) -%}
<div class = "wide-card mdl-card mdl-shadow--4dp space-card">
    <div class = "mdl-card__title">
        <h2 class = "mdl-card__title-text">{{ r['name'] }}</h2>
    </div>
    <div class = "mdl-card__supporting-text">
        {{ r['description'] }}
    </div>
    <div class="mdl-card__supporting-text mdl-card--border">
        {% for name in r['tags'] -%}
        <span class="mdl-chip">
            <span class="mdl-chip__text">{{ name }}</span>
        </span>
        {% endfor -%}
    </div>
    <div class = "mdl-card__actions mdl-card--border">
    <a class = "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <i class = "material-icons">file_download</i>
        DOWNLOAD
        <span class="mdl-badge" data-badge="1">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </a>
    </div>

    <div class = "mdl-card__menu">
        <span>{{ r['uri'] }}</span>
    </div>
</div>
{{ caller() -}}
{% endmacro -%}
