<!DOCTYPE html>
<html>

<head>
    <title>Software Registry v1.0</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" type="text/css" href="../static/css/material.css">
    <link rel="stylesheet" type="text/css" href="../static/css/app.css">
</head>

<body>
    <header class="row">
        <div class="row app-bar level-12">
            <h1 class="col-8">Software Registry</h1>
            <h2 class="col-4">v1.0</h2>
        </div>
    </header>
    <div class="row">
        <nav class="col-3">
            <ul class="row">
                <li class="row tag">
                    <h3 class="col-10">Tag 1</h3>
                </li>
                <li class="row tag">
                    <h3 class="col-10">Tag 2</h3>

                </li>
                <li class="row tag">
                    <h3 class="col-10">Tag 3</h3>
                </li>
                <li class="row tag">
                    <h3 class="col-10">Tag 4</h3>
                </li>
            </ul>
        </nav>
        <main class="col-9">
            <div class="row" >
                <section class="row">
                    <h4>Repo 1</h4>
                    <p></p>
                </section>
            </div>
        </main>
    </div>
</body>

</html>
